@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');




@font-face {
    font-family: 'cantarellregular';
    src: url('../fonts/Cantarell-Regular-webfont.eot');
    src: url('../fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cantarell-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Cantarell-Regular-webfont.woff') format('woff'),
         url('../fonts/Cantarell-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Cantarell-Regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'cantarellregular'; font-size: 17px;
    background-color: #fce3c9;
}

.social {position:absolute; top: 20px; border-radius: 50%; text-decoration: none;}
.topnav-right {font-size: 25px; position: absolute; top: 28px; right:190px; color: white;}
.general-logo header {margin-left: 7%;}
#logo-left {width:20%; height: 15%;}
.topnav {
			font-family: 'Josefin Sans', sans-serif;
        	 font-size: 20px;
	         float: center;
	         background-color: #a5a312; height: 60px;
          overflow: hidden;
    
}
@media only screen and (min-width: 768px) {
    a {
        background: #a5a312;
    }
}


.topnav a {
    float: left; padding-top: 15px; padding-bottom: 7px;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 24px;
}

#date-middle {margin-left: 15px; position: absolute; right: 600px; top: 145px; color: #5b1e03; width: auto;
            height: auto;
            border: 8px solid #f3f3f3;
            border-radius: 100%;
            animation: 
                spin 1s linear infinite,
                change-color 2s ease-in-out infinite,
                border-radius-change 1s ease infinite; font-family: 'Bitter'; font-size: 35px;}
        
        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(0deg);
            }
        }

            @keyframes change-color {
            0% {
                border-color: #d85927;
            }

            /*50% is the middle*/
            50% {
                border-color: #a5a312;
            }
            /*100% is ending*/
            100% {
                border-color: #a5300d;
            }
        }


        @keyframes border-radius-change {

            0% {
                border-radius: 20%;
            }

            50% {

                border-radius: 0%;
            }

            100% {

                border-radius: 20%;
            }
        }


* {
    box-sizing: border-box;
}

.search-btn {margin:auto; max-width:300px;  position: absolute; right: 160px; top: 200px;}
form.search-btn input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px bold grey; border-radius: 0;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.search-btn button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(158, 55, 11);
    color: white;
    font-size: 17px;
    border: 1px groove grey; border-radius: 0;
    border-left: none;
    cursor: pointer;
}

form.search-btn button:hover {
    background: rgb(209, 116, 77);
}

form.search-btn::after {
    content: "";
    clear: both;
    display: table;
}
.btn { height: 50px; width: 20%; margin-bottom: 0;
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    font-family: 'Josefin Sans', sans-serif;
           font-size: 27px;
}

.Schedule {background-color: #d86331; margin-left: 77px;} 
.Schedule:hover {background-color: #ba4c1d;}

.Activities {background-color: #d86331; margin-left: 39px;} 
.Activities:hover {background: #ba4c1d;}

.Gallary {background-color: #d86331; margin-left: 39px;} 
.Gallary:hover {background: #ba4c1d;}

.Tickets {background-color: #d86331; margin-left: 39px;} 
.Tickets:hover {background: #ba4c1d;}
;



* {
    box-sizing: border-box;
}

.main_image {margin-top: 0px; margin-left: 77px; width:88.75%; height: 600px;}
.amazing_facts_title {font-family: Bitter; position: absolute; left: 120px;}
.amazing_facts_title a {background-color: #fce3c9; color: black;}
.row {
    margin: 20px -90px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding-left: 80px; 
    padding-top: 10px;

}

/* Create three equal columns that floats next to each other */
.column {
    float: left; 
    width: 30%;
    margin: 15px;
    
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}


form .error {
  color: #ff0000;}


/* Responsive layout - makes a two column-layout instead of three columns */
@media screen and (max-width: 1000px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/* Content */
.content {
    background-color: #fce3c9;
    padding: 40px;
}
.content img {width:300px; height: 200px;}
.content h3 {font-family: 'Bitter';}

.hamburger {font-family: 'cantarellregular';
  display: block;
  width: 235px;
  height: 200px;
  background-color: #fce3c9;
  position: relative;
}
.bottom {font-family: 'Permanent Marker', cursive; 
font-size: 25px; background-color: #a5a312; height: 120px; width: 100%; 
float: left; margin-left: 0px; margin-top: 0px; text-align: center; color: brown;}

/* Center website */
.main {
    max-width: 1000px;
    margin-left: 30px;
    float: left;

}


.image-gallery .img-slide-thumb {
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
    float: left;
    position: relative; left: 3%;
    opacity: 0.5;

}

.image-gallery .img-slide-thumb-active {
    opacity: 1;
}

.image-gallery-container {
    width: 80%; position: absolute; top: 45%; left: 10%;
}
.image-gallery h2 {font-family: Bitter; font-size: 30px; margin-left: 5%} 
.img-slide {
    display: none;
    position: inherit; left: 1%;
    width: 100%;
}
.img-slide img {width: 100%; padding: 10%}
.img-overlay-text {font-family: 'cantarellregular'; padding: 20%;
    position: absolute;
    text-align: center;
    font-size: 150%;
    font-weight: normal;
    color:#FFF;
    top: 30%;
    width: 100%;
    text-shadow: 2px 2px 5px #000;
    text-transform: uppercase;
    opacity: 0;
    transition: 
        top 3s ease-out,
        opacity 0.8s ease-in;
}

.img-slide.active .img-overlay-text {
    top: 15%;
    opacity: 1;
}


.img-slide.active {
    display: block;
}

.image-gallery-thumb-container {margin-top: 47%; margin-left: 5%;}
.img-slide-thumb-active img {width: 50%; margin-right: 1%;}
.img-slide-thumb img {width: 50%;}

.footer { padding: 1em;
    color: black;
    font-size: 15px;
    background-color: white;
    clear: left;
    text-align: center;
  }
  